@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINRoundPro-Bold';
  src: url('./assets/fonts/dinroundpro_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi-Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
